body {
    text-align: center;
    background-color: #2e3418;
    color: white;
}
#topBar {
    display: none;
}
.left {
    position: absolute;
    left: 20vw;
    top: 325px;
}
i {
    font-size: 50px;
    background-color: none;
}