body {
    text-align: center;
    line-height: 30px;
    background-color: #2e3418;
    color: #a6bd39;
    font-family: 'Helvectica Neue', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.left {
    text-align: left;
    position: absolute;
    left: 7vw;
    top: 275px;
}
.right {
    text-align: right;
    position: absolute;
    right: 7vw;
    top: 275px;
}
i {
    font-size: 50px;
    background-color: none;
}