body {
    text-align: center;
    background-color: #2e3418;
    color: #a6bd39;
    font-family: 'Menlo', monospace;
    font-size: 15px;
}
.left {
    text-align: left;
    position: absolute;
    left: 7vw;
    top: 275px;
}
.right {
    text-align: right;
    position: absolute;
    right: 7vw;
    top: 275px;
}
i {
    padding-top: 10px;
    font-size: 50px;
    background-color: none;
}